<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.interstage.mapper.UserMapper">

    <!-- 모든 사용자 조회 -->
    <select id="findAll" resultType="com.interstage.domain.UserDTO">
        SELECT id, username, password, email
        FROM users
    </select>

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="com.interstage.domain.UserDTO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

    <!-- username으로 사용자 조회 (로그인 & 중복체크 용) -->
    <select id="findByUsername" parameterType="string"
            resultType="com.interstage.domain.UserDTO">
        SELECT id, username, password, email
        FROM users
        WHERE username = #{username}
    </select>

</mapper>
